.view{
    background:url("../images/back/banner.jpg") fixed ;
    background-size:100%:
}
.backview{
    margin:20px;
height:600px;
border-radius:10px;
background-color:white;
}
.backgr{
    background:url("../images/back/portfolio-img4.jpg");
    height:200px;
    width:100% !important;
    padding:0px;
}
.backview img{
    height:100px;
    width:100px;
    border-radius:50%;
    margin-left:35%;
    margin-top:50%;
}
.backview2{
    height:280px;
    border-radius:10px;
    background-color:white;
    margin-top:25%;
    }
    .person{
        padding-top:35px;
        font-family:roboto;
        font-size:28px;
    }